@{
    ViewData["Title"] = "About this Project";
}
<h1>@ViewData["Title"]</h1>

<h3>Tools Used to Create the CMM System</h3>
<p>The application is built using .NET Core 3. Azure Blob Storage, Azure Table Storage, Azure SQL Database and uses Azure App Service to run the system online.</p>

<h3>Introduction to the CMM System</h3>
<p>CMM is the proposed solution web application which lets musicians' Manager to manage the virtual concert planned via CMM. Musician would be able to view his or her forthcoming scheduled virtual concerts and be prepared to perform on the scheduled dates to the Patrons who have secured tickets to attend Musician's virtual concert. Patrons are essentially the audience which supports Musicians and they play an important role in giving the financial power to Musician to once again be the breadwinner in his or her household. </p>

<h3>Acknowledgements</h3>
<p>In terms of acknowledgements, we would like to give a huge thank you to everyone who provided their assistance to complete this project. A special thanks goes to Miss Chong Mien May. who worked our lecturer for Designing And Developing Applications On The Cloud (DDAC). Without the help and guidance from Miss May, we would not have been able to complete the project. Besides that, we like to give a huge thank you to my friends that assisted us by providing advice for the project.</p>
