@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cloud Music Malaysia.</h1>
    <p>A virtual concert booking system created for local artists registered under the Cloud Music Record Label.</p>
</div>


