@model CMM.Models.Event

@{
    ViewData["Title"] = "Edit Virtual Event";
}

<h1>Edit Virtual Event</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditVirtualEvent" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConcertID" />
            <input type="hidden" asp-for="TicketPurchased" />

            <div class="form-group">
                <label asp-for="ConcertPoster" class="control-label"></label>
                <img src="@Html.DisplayFor(model => model.ConcertPoster)" width="300" />
                <input asp-for="ConcertPoster" type="file" name="files" single />
            </div>
            <div class="form-group">
                <label asp-for="ConcertMusician" class="control-label"></label>
                <input asp-for="ConcertMusician" class="form-control" />
                <span asp-validation-for="ConcertMusician" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcertLink" class="control-label"></label>
                <input asp-for="ConcertLink" class="form-control" />
                <span asp-validation-for="ConcertLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcertName" class="control-label"></label>
                <input asp-for="ConcertName" class="form-control" />
                <span asp-validation-for="ConcertName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcertDescription" class="control-label"></label>
                <input asp-for="ConcertDescription" class="form-control" />
                <span asp-validation-for="ConcertDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcertDateTime" class="control-label"></label>
                <input asp-for="ConcertDateTime" class="form-control" />
                <span asp-validation-for="ConcertDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcertPrice" class="control-label"></label>
                <input asp-for="ConcertPrice" class="form-control" />
                <span asp-validation-for="ConcertPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketLimit" class="control-label"></label>
                <input asp-for="TicketLimit" class="form-control" min=@Model.TicketPurchased/>
                <span asp-validation-for="TicketLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketPurchased" class="control-label"></label>
                <input asp-for="TicketPurchased" class="form-control" disabled />
                <span asp-validation-for="TicketPurchased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcertStatus" class="control-label"></label>
                <input asp-for="ConcertStatus" class="form-control" />
                <span asp-validation-for="ConcertStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ConcertVisibility" /> @Html.DisplayNameFor(model => model.ConcertVisibility)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        </div>
</div>

<div>
    <a asp-controller="Admin" asp-action="ViewEventDetails">View Active Virtual Events</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
