@model CMM.Models.Event

@{
    ViewData["Title"] = "Checkout Virtual Event Ticket";
}

<style>
    .card-container {
        width: 100%;
        padding-right: 40px;
        position: relative;
        box-sizing: border-box;
        border: 1px solid #ccc;
        margin: 0 auto 30px auto;
    }

    .card-container input {
        width: 100%;
        letter-spacing: 1px;
        font-size: 20px;
        border: 0;
        outline: none;
        box-sizing: border-box;
    }

    .card-valid {
        position: absolute;
        top: -15px;
        right: 15px;
        line-height: 60px;
        font-size: 25px;
        color: #ccc;
    }

    .card-valid.active {
        color: #42ca7c;
    }

    .card-details {
        width: 100%;
        text-align: left;
        margin-bottom: 30px;
        transition: 300ms ease;
    }

    .card-details input {
        font-size: 20px;
        padding: 0px;
        box-sizing: border-box;
        width: 100%;
    }

    .card-details input.error {
        border: 1px solid #c2313c;
        box-shadow: 0 4px 8px 0 rgba(238,76,87,0.3);
        outline: none;
    }

    .card-details .expiration {
        width: 50%;
        float: left;
        padding-right: 5%;
    }

    .card-details .cvv {
        width: 45%;
        float: left;
    }
</style>

<h1>Checkout Virtual Event Ticket</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkout" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConcertID" />
            <div class="form-group">
                <label asp-for="ConcertName" class="control-label"></label>
                <input asp-for="ConcertName" class="form-control" disabled />
            </div>
            <div class="card-bounding">
                <label class="control-label">Enter your card number: </label>
                <div class="card-container">
                    <div class="card-type"></div>
                    <input placeholder="0000 0000 0000 0000" onkeyup="$cc.validate(event)" maxlength="19"/>
                    <div class="card-valid">&#9632;</div>
                </div>

                <div class="card-details clearfix">

                    <div class="expiration">
                        <label class="control-label">Expiration Date: </label>
                        <input onkeyup="$cc.expiry.call(this,event)" maxlength="7" placeholder="mm/yyyy"/>
                    </div>

                    <div class="cvv">
                        <label class="control-label">CVV Number: </label>
                        <input placeholder="XXX" maxlength="3"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <a class="btn btn-secondary" asp-controller="User" asp-action="UserViewUpcomingEvents">View Active Virtual Events</a>
                <input class="btn btn-primary" type="submit" value="Purchase Ticket" />
            </div>
        </form>
    </div>
</div>
<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
